html {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color:#d0d0d0;
}
hr {
    color:#99cc33
}
h1 {
    font-family:Georgia, "Times New Roman", serif;
    font-weight:Normal;
    font-size:2.3rem;
    color:#99cc33;
    text-shadow:#666 2.4px 2.4px
}
h2,
h3 {
    color:#99cc33;
    text-shadow:#666 2.4px 2.4px;
}
p,
ol,
ul {
    border-style:ridge;
    border-color:#99cc33;
    border-width:.3rem;
    padding-top:.2rem;
    padding-left:.2rem;
    padding-bottom:.2rem;
    padding-right:.2rem;
}
p,
ol,
ul {
    background-color:#FFF;
    font-size:1rem;
    line-height:1.5rem;
}
h1 + p {
    font-size:1.5rem;
    line-height:1.75rem
}
strong {
    font-weight:bold
}

p   strong {
    color:#99cc33
}
em {
    font-style:italic
}